.title {
  display: inline-block;
  color: #000;
  /* margin-right: 20px; */
  margin-left: 40px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}
.title:hover {
  transition: all 0.3s cubic-bezier(0, 0, 1, 1);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  color: pink;
}
.activeLink {
  composes: title;
  color: pink;
}
.nav {
  background-image: url(./making-video.svg);
  background-repeat: no-repeat;
}
